<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/rpt/templates/pdf/template.css" rel="stylesheet">
        <title>PC_Connection_Report</title>
    </head>
    <body>
        <table>
        
        {% for row in data %}
            <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        
        </table>
    </body>
</html>
